@import "../../bower_components/foundation/scss/foundation/functions";

// Main
.main {
  padding: 10px 10px;
}

// Top bar
.top-bar .name a {
  line-height: 45px;
  font-size: 1.0625rem;
  margin: 0 0.4rem;
  color: #FFFFFF;
}

// Loading indicator
.loading {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

// Breadcrumbs
.breadcrumbs {
  margin-bottom: 0;
}
.breadcrumbs .mui-icon {
  font-size: 11px;
}

// Questions listing
.questions .question {
  margin: 0 0 1rem 0;

  .inner {
    padding: 0.5rem;
  }
}

// Single question
.question {
  .inner{
    padding: 0.5rem;
  }
  h1 {
    font-size: rem-calc(23);
  }
}

// Footer
.full-width {
  max-width: 1400px;
}
$text-color: #fff;


.footer {
  background-color: #2980b9;
  padding: 1rem 0rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300;
    font-size: .8em;
    color: $text-color;
  }
}

@media only screen and (min-width: 40.063em) {
  .footer {
    .columns:nth-child(n+2) {
      border-left: 1px solid scale-color($text-color, $lightness: -10%);
      min-height: 200px;
    }
  }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: 0.2rem;
  }
}
